@font-face {
  font-family: "Menlo" ;
  src: url("fonts/Menlo.ttf");
}

body{
  background-color: #F5F3EE;
}

#app_name{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: rgb(49, 52, 56);
  position: relative;
  left:250px;
  top: 5px;
}

#terminal{
  height: 450px;
  width: 700px;
  background-color:rgb(49, 52, 56);
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#nav{
  height: 25px;
  width: 100%;
  background-color: rgb(213, 213, 213);
  border-radius: 5px 5px 0px 0px;
  border-bottom:1px solid rgb(145, 145, 145);
}

#btn{
  width:10px;
  height:10px;
  border-radius:10px;
  position:relative;
  left:7px;
  top: 5px;
  margin-right: 2px;
  display:inline-block;
}
.red{
  background-color:#FF625D;
}
.yellow{
  background-color:#FFBE4A;
}
.green{
  background-color:#00CD55;
}


#text-box{
  line-height: 1.5;
  height: calc(100% - 41px);
  margin: 8px;
  color: rgb(224, 224, 224);
  font-family: "Menlo", Courier;
  font-size: 13px;
  overflow-y: scroll;
}

#terminal-input{
  background-color: rgb(49, 52, 56);
  color: rgb(224, 224, 224);
  width: calc(100% - 200px);
  border: none;
  font-family: "Menlo", Courier;
  font-size: 13px;
}

#resume{
  color: rgb(89, 247, 133);
  font-style: none;
}

input:focus{
    outline: none;
    color: rgb(244, 244, 244);
}

::-webkit-scrollbar {
      width: 8px;
}

.directory{
  color: rgb(0, 224, 224);
}


/* The side navigation menu */
#sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px;
    margin-left: -250px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(49, 52, 56);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; 
    
}

/* The navigation menu links */
#sidenav a {
    text-decoration: none;
    font-family: Arial, Courier;
    color: rgb(213, 213, 213);
    margin: 10px;
    font-size: 15px;
    display: block;
    transition: 1s;
    padding-left: 20px;
    
}

/* When you mouse over the navigation links, change their color */
#sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.btn{
    font-size: 30px;
    transition: 0.5s;
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 1s;
}



#main {
    transition: margin-left .5s;
    position: relative;
    top: 50%;
    transform: 			translateY(-60%);
}